// general
$primary: #202634; // Adjusted from #1e2c3a for a closer match
$secondary: #48669a; // Adjusted from #2f8b64 for a closer match
$tertiary: #48669a; // Adjusted from #00ffd4 for a closer match
$additional-font: #e1e8f0; // Adjusted from #fff for a closer match

// Logo Size
$navbar-logo-height: 70px;

// footer
$footer-background-color: $primary;
$footer-title-color: $additional-font;
$footer-text-color: #b3b9c7; // Slightly lighter than the image
$footer-item-disc-color: $tertiary;
.footer-logo { filter: brightness(0) invert(1); }

// dashboard
$dashboard-line-color-price: $tertiary;

$dashboard-banner-chart-legend-label-color: $footer-text-color;
$dashboard-stats-item-label-color: $dashboard-banner-chart-legend-label-color;
$dashboard-banner-chart-legend-value-color: $additional-font;
$dashboard-stats-item-value-color: $additional-font;

$dashboard-stats-item-border-color: $tertiary;

$dashboard-banner-gradient-start: $primary;
$dashboard-banner-gradient-end: #263b5e; // Adjusted from #263748 for a closer match

$dashboard-banner-network-plain-container-background-color: $secondary;

// navigation
.navbar { box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1); }
$dropdown-menu-item-hover-color: $tertiary;
$dropdown-menu-item-hover-background: rgba($tertiary, .1);
$header-icon-color-hover: $tertiary;
$header-icon-border-color-hover: $tertiary;

// buttons
$btn-line-bg: $secondary;
$btn-line-color: $additional-font;
$btn-copy-color: $tertiary;
$btn-qr-color: $tertiary;
$btn-address-card-icon-color: $tertiary;

//links & tile
$tile-body-a-color: $tertiary;
$tile-type-block-color: $tertiary;
$tile-type-progress-bar-color: $tertiary;
a.tile-title { color: $tertiary !important; }

// card
$card-background-1: $primary;
$card-tab-active: $tertiary;

.layout-container {
  .dashboard-banner-container {
    background-image: linear-gradient(
      to bottom,
      $dashboard-banner-gradient-start,
      $dashboard-banner-gradient-end
    );
  }
}

// Badges
$badge-neutral-color: $tertiary;
$badge-neutral-background-color: rgba($tertiary, .1);
$api-text-monospace-color: $tertiary;

// Tokens dropdown
.token-balance-dropdown[aria-labelledby="dropdown-tokens"] {
  .dropdown-items .dropdown-item:hover {
    color: $tertiary !important;
  }
}

// Dark theme
$dark-primary: #06d6f9; // Updated from #00ffd4
$dark-secondary: #48669a; // Updated from #2f8b64
$dark-primary-alternate: #00aac6; // Adjusted from #00ccaa
